SDKROOT = iphoneos

CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++

OTHER_CFLAGS = -fvisibility=hidden
OTHER_LDFLAGS = -ObjC

CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_UNDECLARED_SELECTOR = YES

GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp

HEADER_SEARCH_PATHS = ~/Projects/Framework/include ~/Libraries/boost_1_55_0 ~/Projects/Palleon/include

TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 7.1
